$white: #fff;

$orange-500: #ff4800;
$orange-600: #d14800;

$gray-200: #dadada;
$gray-400: #a3a3a3;
$gray-450: #9c9c9c;
$gray-500: #8d8d8d;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #181110;
